generated-by = makedeb
pkgname = yanic
pkgbase = yanic
pkgdesc = A respondd client that fetches, stores and publishes information about a Freifunk network
pkgrel = 2
pkgver = 1.9.0+batmanv1
url = https://github.com/freifunkMUC/yanic
arch = amd64
arch = arm64
backup = /etc/yanic.conf
license = AGPL-3.0
makedepends = golang
source = yanic-1.9.0+batmanv1::https://github.com/freifunkMUC/yanic/archive/refs/tags/v1.9.0+batmanv1.tar.gz
sha256sums = 87250c373370dd1d1cb974881b67eeb154cadfeead14303944d29fa00d19a305
makedepends = golang
