generated-by = makedeb
pkgname = yanic
pkgbase = yanic
pkgdesc = A respondd client that fetches, stores and publishes information about a Freifunk network
pkgrel = 2
pkgver = 1.5.2
url = https://github.com/FreifunkBremen/yanic
arch = amd64
arch = arm64
backup = /etc/yanic.conf
license = AGPL-3.0
makedepends = golang
source = yanic-1.5.2::https://github.com/FreifunkBremen/yanic/archive/refs/tags/v1.5.2.tar.gz
sha256sums = eeceffca031f4cbb25aac23fa642d27a3c120ac72e5a0ab80b72b83404da25e1
makedepends = golang
